<h2> Index</h2>

<table>
  <tr>
    <th>Nation</th>
  </tr>
<% @nation.each do |nation| %>
  <tr>
    <td><a href="/nation/<%= nation.id %>"><%= nation.name %></a></td>
  </tr>
<% end %>
</table>
<p><a href="/nation/new">Add Nation</a></p>
<hr>
<a href="/" class="btn">Home</a>
