<h2>Add nation</h2>


<form action="/nation" method="post">
  <label for="name">Nation name</label>
  <input type="text" name="name">

  <input type="submit" name="Add nation" value="Add nation">
</form>
<hr>
<a href="/" class="btn">Home</a>
<a href="/nation" class="btn">Back</a>