<!DOCTYPE html>
<html>
<head>
  <title>Rio Lolympics</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Rio Lolympics</h1>

  <%= yield %>
  <%= erb :standings %>

</body>
</html>