<!DOCTYPE html>
<html>
<head>
  <title>Rio Lolympics</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div id="main">
    <div id="header">
      <h1>UnRio Lolympics</h1>
    </div>
    <div id="yielder">
      <%= yield %>
    </div>
  </div>
  <div id="standings">
    <%= erb :standings %>
  </div>

</body>
</html>