<h2> Index</h2>

<p>List of Athletes</p>
<table>
  <tr>
    <th>Athlete Name</th>
    <th>Athlete Nation</th>
  </tr>
  <% @athletes.each do |athlete|  %>
  <tr>
    <td><a href="/athlete/<%= athlete.id %>"><%= athlete.name  %></td>
    <td><%= athlete.nation.name  %></td>
    <td> <form action="/athlete/<%= athlete.id %>/delete" method="post">
  <input type="submit" value="Delete"></form></td>
  </form>
  </tr>
  <% end %>
</table>

<a href="/">Home</a>
<a href="/athlete/new">Add Athlete</a>

