
<h2>Athletes</h2>
<table>
  <tr>
    <th>Athlete Name</th>
    <th>Athlete Nation</th>
  </tr>
  <% @athletes.each do |athlete|  %>
  <tr>
    <td><a href="/athlete/<%= athlete.id %>"><%= athlete.name  %></td>
    <td><%= athlete.nation.name  %></td>
    <td> <form action="/athlete/<%= athlete.id %>/delete" method="post">
  <input type="submit" value="Delete"></form></td>
  </form>
  </tr>
  <% end %>
</table>
<p>
<a href="/athlete/new">Add Athlete</a></p>
<hr>
<a href="/" class="btn">Home</a>


