<h2>new</h2>

<form action="/athlete" method="post">
  <label for="name">Athlete Name</label>
  <input type="text" name="name">

  <label for="nation_id">Nation</label>
  <select name="nation_id">
    <% @nations.each do |nation|  %>
      <option value="<%= nation.id %>"><%= nation.name %></option>
    <% end %>
  </select>
  
  <input type="submit" name="Add Athlete">
</form>
<hr>

<a href="/athlete" class="btn">Back</a>

<a href="/"  class="btn">Home</a>
