<h2>Index</h2>

<h3>List of events</h3>
<ul>
<% @events.each do |event| %>
  <li><a href="/event/<%= event.id %>"><%= event.name %><form action="/event/<%= event.id %>/delete" method="post"><input type="submit" value="Delete">
  </form>
  </li>  
<% end %>
</ul>

<a href="/">Home</a>
<a href="/event/new">Add event</a>